.Header
{
	width: 100%;
	height: auto;
	font-family: "Agency FB";
	background-color: white;
	position: fixed;
}

#left
{
	padding: 1%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 0;
	color: black;
	font-size: 20px;
	vertical-align: middle;
	width: 49%;
	height: 100%;
	float: left;
}

#right
{
	padding: 1%;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 0;
	color: black;
	font-size: 20px;
	vertical-align: middle;
	width: 49%;
	height: 100%;
	float: right;
	text-align: right;
}

#gradient
{
	margin: unset;
	height: 10px;
	background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,0));
}

#f2
{
	background-color: #babd01;
	height:75px;

}

#judul
{
	font-family: "agency fb"; 
	font-size: 2em;
	font-weight: bold;
	color: #808200;
	display: inline-block;
}