body
{
	font-family: sans-serif;
	
}
#button
{
	width: 250px;
	height: auto;
	left: 50%;
	top: 50%;
	margin-left: -125px;
	position: absolute;
	text-align: center;
}
#Login_Button
{
	width: 100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 15px;
	font-size: 25px;
	font-family: sans-serif;
	color: #808200;
	background-color: #edf102;
	transition: 2s;
}
#Login_Button:hover
{
	box-shadow: 0 0 15px #000000;
	color: white;
	background-color: #808200;
	transition: .5s;
	cursor: pointer;
}
#Create_New_Button
{
	margin-top: 20px;
	width: 100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 15px;
	font-size: 25px;
	font-family: sans-serif;
	color: black;
	background-color: #ffffff;
	transition: 2s;
	box-shadow: 0 0 5px #000000;
}
#Create_New_Button:hover
{
	box-shadow: 0 0 15px #000000;
	color: white;
	background-color: #808200;
	transition: .5s;
	cursor: pointer;
}
